@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),
  url('../fonts/Montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
  url('../fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
  url('../fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
  url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Muller;
  src: url('../fonts/Muller/MullerExtraBoldDEMO.eot');
  src: url('../fonts/Muller/MullerExtraBoldDEMO.woff2') format('woff2'),
  url('../fonts/Muller/MullerExtraBoldDEMO.woff') format('woff'),
  url('../fonts/Muller/MullerExtraBoldDEMO.ttf') format('truetype'),
  url('../fonts/Muller/MullerExtraBoldDEMO.svg#MullerExtraBoldDEMO') format('svg'),
  url('../fonts/Muller/MullerExtraBoldDEMO.eot?#iefix') format('embedded-opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Muller;
  src: url('../fonts/Muller/MullerThinDEMO.eot');
  src: url('../fonts/Muller/MullerThinDEMO.woff2') format('woff2'),
  url('../fonts/Muller/MullerThinDEMO.woff') format('woff'),
  url('../fonts/Muller/MullerThinDEMO.ttf') format('truetype'),
  url('../fonts/Muller/MullerThinDEMO.svg#MullerThinDEMO') format('svg'),
  url('../fonts/Muller/MullerThinDEMO.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto/RobotoThin.eot');
  src: url('../fonts/Roboto/RobotoThin.woff2') format('woff2'),
  url('../fonts/Roboto/RobotoThin.woff') format('woff'),
  url('../fonts/Roboto/RobotoThin.ttf') format('truetype'),
  url('../fonts/Roboto/RobotoThin.svg#RobotoThin') format('svg'),
  url('../fonts/Roboto/RobotoThin.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}