.nomad
    .collections-title.nomad__title Nomad duffle
    .collections-desc.nomad__desc This bag can be carried by hand, worn as a backpack or
        |  slung over a shoulder depending on your traveling needs
    .collections-read-more.nomad__read-more Read more
    .nomad__logo-block
        img.nomad__logo(src="img/content/tanner-logo-transparent.png" alt="Logo")
    img.nomad__photo(src="img/content/nomad-duffle-&-field-camera-bag.jpg" alt="Nomad")