.spruce
    .number.spruce__number 01
    .spruce__photo
        img.spruce__photo-image(src="img/content/spruce-salt-&-pepper.jpg" alt="Spruce salt & pepper")
    .collections-title.spruce__title Spruce salt & pepper
    .collections-desc.spruce__desc We designed our Nomad Duffle as a versatile yet rugged piece of luggage
        |  that's just as comfortable outdoors as it is in an overhead compartment
    .collections-read-more.spruce-read-more Read more