.voyager {
  height: 1406px;
  align-items: flex-start;
  background: #fff;

  &__info {
    justify-content: flex-start;
    align-self: flex-start;
    margin-bottom: 244px;
  }

  &__photo {
    align-items: flex-end;
    background: url("../img/content/voyager.jpg") center center / cover;
  }

  &__title {
    margin-bottom: 20px;
    padding-right: 35px;
  }

  &__color {
    padding-right: 14px;
  }

  &__desc {
    top: 106px;
    left: 855px;
    width: 890px;
  }

  &__text {
    padding: 45px 87px 65px 42px;
  }

  &__photos {
    height: 432px;
  }

  &__item {
    height: 268px;

    &_active {
      width: 580px;
      height: 432px;
    }

    &-info {

      &:before {
        width: 100px;
      }

      &:after {
        width: 314px;
      }
    }
  }
}