section.collections
    .container
        .collections__header
            .collections__title Tanner Collections
            .collections__color Navy salt & pepper
        .collections__content
            .collections__content-top
                include ../parts/_spruce
                include ../parts/_nomad
            .collections__content-bottom