section.drifter.backpack
    .backpack__info.drifter__info
        .backpack__photo.drifter__photo
            h2.backpack__title.drifter__title.section-title Drifter dopp kit
            .backpack__color.drifter__color.section-color Navy salt & pepper
        .backpack__desc.drifter__desc
            table.backpack__table
                tr.backpack__row
                    td.backpack__text.drifter__text Field-tested from peaks of the Cascades down to the desert floor of Joshua Tree,
                        | the Wilderness Rucksack was built to put on some serios miles for years to come.
                        | A comfortable, dependable combination of 14oz Salt & Pepper canvaz, premium wool felt, and Cambara English bridle leather.
                    td.backpack__empty
    ul.backpack__photos.drifter__photos
        li.backpack__item.drifter__item
            img(src="img/content/drifter-1.jpg" alt="Voyager left").backpack__image.voyager__image
        li.backpack__item.drifter__item
            img(src="img/content/drifter-2.jpg" alt="Voyager front").backpack__image.voyager__image
        li.backpack__item.backpack__item_active.drifter__item.drifter__item_active
            img(src="img/content/drifter-3.jpg" alt="Voyager front 45 degree").backpack__image.voyager__image
            .backpack__item-info.drifter__item-info
                .backpack__item-price $ 456.70
                a.backpack__item-link(href="#") Buy
        li.backpack__item.drifter__item
            img(src="img/content/drifter-4.jpg" alt="Voyager left").backpack__image.voyager__image