section.drifter.backpack
    .backpack__info.drifter__info
        .backpack__photo.drifter__photo
            .backpack__title.drifter__title.section-title Drifter dopp kit
            .backpack__color.drifter__color.section-color Navy salt & pepper
        .backpack__desc.drifter__desc
            table.backpack__table
                tr.backpack__row
                    td.backpack__text.drifter__text Field-tested from peaks of the Cascades down to the desert floor of Joshua Tree,
                        | the Wilderness Rucksack was built to put on some serios miles for years to come.
                        | A comfortable, dependable combination of 14oz Salt & Pepper canvaz, premium wool felt, and Cambara English bridle leather.
                    td.backpack__empty
    .drifter__photos