section.intro
    .intro__left
        include ../parts/_header-left
        .intro__text
            .intro__desc Designed for utility
            h2.intro__title Navy salt & pepper
            .intro__link Gear UP
    .intro__right
        include ../parts/_header-right