section.navy-salt
    .navy-salt__left
        include ../parts/_header-left
        .navy-salt__text
            .navy-salt__slogan Designed for utility
            h2.navy-salt__title.section-title Navy salt & pepper
            .navy-salt__link Gear UP
    .navy-salt__right
        include ../parts/_header-right