section.voyager.backpack
    .backpack__info.voyager__info
        .backpack__photo.voyager__photo
            .backpack__title.voyager__title.section-title Voyager daypack
            .backpack__color.voyager__color.section-color Navy salt & pepper
        .backpack__desc.voyager__desc
            table.backpack__table
                tr.backpack__row
                    td.backpack__empty
                    td.backpack__text.voyager__text Whether you're stomping around outdoors or traversing the city, our Voyager Daypack was designed to be adaptable in all environments.
                        |  Compact, lightweight and a comfortable for people of all sizes.
    .voyager__photos