section.voyager.backpack
    .backpack__info.voyager__info
        .backpack__photo.voyager__photo
            h2.backpack__title.voyager__title.section-title Voyager daypack
            .backpack__color.voyager__color.section-color Navy salt & pepper
        .backpack__desc.voyager__desc
            table.backpack__table
                tr.backpack__row
                    td.backpack__empty
                    td.backpack__text.voyager__text Whether you're stomping around outdoors or traversing the city, our Voyager Daypack was designed to be adaptable in all environments.
                        |  Compact, lightweight and a comfortable for people of all sizes.
    ul.backpack__photos.voyager__photos
        li.backpack__item.voyager__item
            img(src="img/content/voyager-1.jpg" alt="Voyager back").backpack__image.voyager__image
        li.backpack__item.voyager__item
            img(src="img/content/voyager-2.jpg" alt="Voyager front").backpack__image.voyager__image
        li.backpack__item.backpack__item_active.voyager__item.voyager__item_active
            img(src="img/content/voyager-3.jpg" alt="Voyager front").backpack__image.voyager__image
            .backpack__item-info.voyager__item-info
                .backpack__item-price $ 300.00
                a.backpack__item-link(href="#") Buy
        li.backpack__item.voyager__item
            img(src="img/content/voyager-4.jpg" alt="Voyager left").backpack__image.voyager__image