nav.nav.nav_left
    .nav__left
        ul.nav__list
            li.nav__item.nav__item_black
                a(href="#").nav__link.nav__link_black Navy salt
            li.nav__item.nav__item_black
                a(href="#").nav__link.nav__link_black Voyager