.nav__right
    ul.nav__list
        li.nav__item.nav__item_white
            a(href="#").nav__link.nav__link_white Drifter
        li.nav__item.nav__item_white
            a(href="#").nav__link.nav__link_white Collection
        li.nav__item.nav__item_white
            a(href="#").nav__link.nav__link_white Contact