.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 152px;
  padding-left: 22px;

  &__logo {
    align-self: flex-start;
    margin-right: 80px;
  }

  &__image {
    display: block;
    width: 219px;
    height: 152px;
  }
}

.header__title {
  display: none;
}