.spruce {
  width: 930px;
  height: 945px;
  margin: 0 70px 0 155px;

  &__number {
    position: relative;
    width: 75px;

    &:after {
      content: '';
      position: absolute;
      top: 34px;
      right: -157px;
      width: 138px;
      height: 2px;
      background: #000;
    }
  }

  &__photo {
    margin-bottom: 90px;

    &-image {
      display: block;
      width: 930px;
      height: 644px;
    }
  }

  &__title {
    position: relative;
    margin: 0 0 30px 155px;

    &:before, &:after {
      content: '';
      position: absolute;
    }

    &:before {
      top: -155px;
      left: 12px;
      width: 2px;
      height: 138px;
      background: #000;
    }

    &:after {
      top: 14px;
      left: -56px;
      width: 535px;
      height: 30px;
      background: #e1d9c9;
      z-index: -5;
    }
  }

  &__desc {
    width: 340px;
    margin: 0 0 25px 195px;
  }

  &-read-more {
    margin-left: 195px;
  }
}